<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859691038944-em9n2pb3kunq581ijgcodap2p2ki6ni1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859691038944-em9n2pb3kunq581ijgcodap2p2ki6ni1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859691038944-9gr67fpducfuu8itdr26j62mihhvvae6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCicdWS7OqdWXILumo-1FsvW4MDrtwMFP0</string>
	<key>GCM_SENDER_ID</key>
	<string>859691038944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imavi.apps</string>
	<key>PROJECT_ID</key>
	<string>imavistatic</string>
	<key>STORAGE_BUCKET</key>
	<string>imavistatic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859691038944:ios:22cbc11e315593065f7885</string>
</dict>
</plist>